# Data Pre-processing 

# Step 1 : Contructing a table to store the choosen cities with unique ids

In [40]:
import pandas as pd

city_details = pd.DataFrame({
    'city': ['paris','new york','sydney','bangkok','Rio De Janerio'],
    'id': [1,2,3,4,5]
})

print(city_details)

              city  id
0            paris   1
1         new york   2
2           sydney   3
3          bangkok   4
4  Rio De Janerio(   5

# Reading the listing dataset and storing it in a dataframe

In [41]:
import pandas as pd

list_paris_df = pd.read_csv('/Users/shashwathkumar/Jupiitor notebook/assignment_1/dataset/listing/listing_paris.csv')
print(list_paris_df.head())

       id                          listing_url       scrape_id last_scraped  \
0    3109    https://www.airbnb.com/rooms/3109  20240906025355   2024-09-11
1    5396    https://www.airbnb.com/rooms/5396  20240906025355   2024-09-13
2    7397    https://www.airbnb.com/rooms/7397  20240906025355   2024-09-06
3    7964    https://www.airbnb.com/rooms/7964  20240906025355   2024-09-10
4  241715  https://www.airbnb.com/rooms/241715  20240906025355   2024-09-11

            source                                               name  \
0      city scrape                                       zen and calm
1      city scrape       Your perfect Paris studio on Île Saint-Louis
2      city scrape                   MARAIS - 2ROOMS APT - 2/4 PEOPLE
3  previous scrape                       Sunny apartment with balcony
4      city scrape  Big Cosy Appartement with 100 m2 Terrace in Paris

                                         description  \
0  Lovely Appartment with one bedroom with a Quee...
1  NEW SOFA-BED SINCE JUNE 2023, Please disregard...
2          VERY CONVENIENT, WITH THE BEST LOCATION !
3  We are renting our a spacious, sunny fully fur...
4  Come to stay in our unique Parisian flat to en...

                               neighborhood_overview  \
0  Good restaurants<br />very close the Montparna...
1  You are within walking distance to the Louvre,...
2                                                NaN
3                                                NaN
4  The 19th arrondissement of Paris, located in t...

                                         picture_url  host_id  ...  \
0  https://a0.muscache.com/pictures/miso/Hosting-...     3631  ...
1  https://a0.muscache.com/pictures/52413/f9bf76f...     7903  ...
2  https://a0.muscache.com/pictures/67928287/330b...     2626  ...
3  https://a0.muscache.com/pictures/miso/Hosting-...    22155  ...
4  https://a0.muscache.com/pictures/miso/Hosting-...  3342097  ...

  review_scores_communication review_scores_location review_scores_value  \
0                        5.00                   5.00                5.00
1                        4.84                   4.96                4.59
2                        4.89                   4.93                4.74
3                        5.00                   5.00                5.00
4                         NaN                    NaN                 NaN

         license instant_bookable calculated_host_listings_count  \
0  7511409139079                t                              1
1  7510402838018                f                              1
2  7510400829623                f                              1
3  7510903576564                f                              1
4  7511913070313                f                              1

  calculated_host_listings_count_entire_homes  \
0                                           1
1                                           1
2                                           1
3                                           1
4                                           1

  calculated_host_listings_count_private_rooms  \
0                                            0
1                                            0
2                                            0
3                                            0
4                                            0

  calculated_host_listings_count_shared_rooms reviews_per_month
0                                           0              0.05
1                                           0              2.23
2                                           0              2.20
3                                           0              0.03
4                                           0               NaN

[5 rows x 75 columns]

# Priting the structure of the dataframe

In [42]:
print(list_paris_df.shape)

(95461, 75)

# Printing the column names of the dataframe

In [43]:
print(list_paris_df.columns)

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name',
       'description', 'neighborhood_overview', 'picture_url', 'host_id',
       'host_url', 'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

# Removing the undesirable columns from the dataframe

In [44]:
list_paris_df = list_paris_df.drop(columns=['listing_url','scrape_id','last_scraped','source','picture_url','host_url','host_response_time',
                                                          'host_response_rate','host_acceptance_rate','host_thumbnail_url','host_picture_url','neighbourhood_group_cleansed',
                                                          'calendar_updated','license','calendar_last_scraped'])

print(list_paris_df.shape)

(95461, 60)

# Associating the city_id to all the records in the dataframe

In [46]:
paris_id = city_details.loc[city_details['city'] == 'paris']['id'].values[0]

list_paris_df['city_id'] = paris_id

print(list_paris_df.shape)

(95461, 61)

# Pritning the dataframe

In [47]:
print(list_paris_df)

                        id                                               name  \
0                     3109                                       zen and calm
1                     5396       Your perfect Paris studio on Île Saint-Louis
2                     7397                   MARAIS - 2ROOMS APT - 2/4 PEOPLE
3                     7964                       Sunny apartment with balcony
4                   241715  Big Cosy Appartement with 100 m2 Terrace in Paris
...                    ...                                                ...
95456  1238568635341928457                 Spacieux studio 4P, porte st cloud
95457  1238594326004996232              Luxury 3BR Arc Triomphe Champs Élysée
95458  1238755949783144791                                [F-16] 파리 5인여성 다인실방
95459  1239120896239244086    Large and bright flat nearby Montmartre - Paris
95460  1239136641042729451                     Studio with Balcony in the 5th

                                             description  \
0      Lovely Appartment with one bedroom with a Quee...
1      NEW SOFA-BED SINCE JUNE 2023, Please disregard...
2              VERY CONVENIENT, WITH THE BEST LOCATION !
3      We are renting our a spacious, sunny fully fur...
4      Come to stay in our unique Parisian flat to en...
...                                                  ...
95456  Forget your worries at this spacious (42m2) an...
95457  Spacious 3 Bedroom Apartment - Close to Champs...
95458     Centrally located with the best accessibility.
95459  MIDTERM STAY ONLY - Located close to the mythi...
95460                                                NaN

                                   neighborhood_overview    host_id host_name  \
0      Good restaurants<br />very close the Montparna...       3631      Anne
1      You are within walking distance to the Louvre,...       7903    Borzou
2                                                    NaN       2626    Franck
3                                                    NaN      22155     Anaïs
4      The 19th arrondissement of Paris, located in t...    3342097     Iryna
...                                                  ...        ...       ...
95456                                                NaN  539077658      Chen
95457                                                NaN  492686946    Martin
95458                                                NaN  264290202    Aishun
95459  Located 10 min away on foot from Montmartre, y...  169497320   Welkeys
95460                                                NaN  564251645    Rusard

       host_since  host_location  \
0      2008-10-14  Paris, France
1      2009-02-14  Paris, France
2      2008-08-30  Paris, France
3      2009-06-18  Paris, France
4      2012-08-22  Paris, France
...           ...            ...
95456  2023-09-26            NaN
95457  2022-12-25  Paris, France
95458  2019-05-26  Paris, France
95459  2018-01-23  Paris, France
95460  2024-02-27            NaN

                                              host_about host_is_superhost  \
0                                                    NaN                 f
1      We have spent a lot of time traveling for work...               NaN
2      I am a writer,54, author of novels, books of l...                 t
3      Hello ! \r\nOur apartment is great and I am su...                 f
4      I'm Ukrainian-bourn French, leaving in Paris f...                 f
...                                                  ...               ...
95456                                                NaN                 t
95457  L’hospitalité est une valeur fondamentale, je ...                 f
95458                                           가정주부입니다.                 f
95459  Découvrez l'art français de bien vivre en vaca...                 f
95460                                                NaN                 f

       ... review_scores_communication  review_scores_location  \
0      ...                        5.00                    5.00
1      ...                        4.84                    4.96
2      ...                        4.89                    4.93
3      ...                        5.00                    5.00
4      ...                         NaN                     NaN
...    ...                         ...                     ...
95456  ...                        5.00                    5.00
95457  ...                         NaN                     NaN
95458  ...                         NaN                     NaN
95459  ...                         NaN                     NaN
95460  ...                         NaN                     NaN

       review_scores_value instant_bookable calculated_host_listings_count  \
0                     5.00                t                              1
1                     4.59                f                              1
2                     4.74                f                              1
3                     5.00                f                              1
4                      NaN                f                              1
...                    ...              ...                            ...
95456                 5.00                t                              2
95457                  NaN                t                              7
95458                  NaN                f                             10
95459                  NaN                f                             16
95460                  NaN                t                            146

      calculated_host_listings_count_entire_homes  \
0                                               1
1                                               1
2                                               1
3                                               1
4                                               1
...                                           ...
95456                                           2
95457                                           7
95458                                           0
95459                                          16
95460                                         146

      calculated_host_listings_count_private_rooms  \
0                                                0
1                                                0
2                                                0
3                                                0
4                                                0
...                                            ...
95456                                            0
95457                                            0
95458                                            0
95459                                            0
95460                                            0

      calculated_host_listings_count_shared_rooms  reviews_per_month  city_id
0                                               0               0.05        1
1                                               0               2.23        1
2                                               0               2.20        1
3                                               0               0.03        1
4                                               0                NaN        1
...                                           ...                ...      ...
95456                                           0               1.00        1
95457                                           0                NaN        1
95458                                          10                NaN        1
95459                                           0                NaN        1
95460                                           0                NaN        1

[95461 rows x 61 columns]

# Reading the review dataset and storing it in a dataframe

In [69]:
import pandas as pd

reviews_paris_df = pd.read_csv('/Users/shashwathkumar/Jupiitor notebook/assignment_1/dataset/reviews/reviews_paris.csv')
print(reviews_paris_df.head())

   listing_id         id        date  reviewer_id reviewer_name  \
0        3109  207127433  2017-10-28     51636494      Patricia
1        3109  208779822  2017-11-03      4142888      Patricia
2        3109  295840159  2018-07-24      7415343       Laurent
3        3109  553502638  2019-10-24     21159216     Anastasia
4        5396       4824  2009-06-30        19995         Sarah

                                            comments
0            Tout s'est bien déroulé. Merci bien. PG
1  Un petit nid fouiller douillet situé dans  app...
2  Appartement spacieux, propre,clair, et calme à...
3  Appartement totalement rénové, en parfait état...
4  Perfect location!! Nasrine was a delight and m...

# Priting the structure of the dataframe

In [49]:
print(reviews_paris_df.shape)

(1999650, 6)

# Removing the undesirable columns from the dataframe

In [50]:
reviews_paris_df = reviews_paris_df.drop(columns=['reviewer_id','reviewer_name'])
reviews_paris_df['city_id'] = paris_id

print(reviews_paris_df.shape)

(1999650, 5)

# Printing the shape of the listing and the review dataframe

In [51]:
print(list_paris_df.shape)
print(reviews_paris_df.shape)

(95461, 61)
(1999650, 5)

# Analyzing the column to check for null values

In [52]:
list_paris_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95461 entries, 0 to 95460
Data columns (total 61 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            95461 non-null  int64
 1   name                                          95461 non-null  object
 2   description                                   91385 non-null  object
 3   neighborhood_overview                         48179 non-null  object
 4   host_id                                       95461 non-null  int64
 5   host_name                                     95455 non-null  object
 6   host_since                                    95455 non-null  object
 7   host_location                                 75907 non-null  object
 8   host_about                                    41035 non-null  object
 9   host_is_superhost                             93159 non-null  object
 10  host_neighbourhood                            33272 non-null  object
 11  host_listings_count                           95455 non-null  float64
 12  host_total_listings_count                     95455 non-null  float64
 13  host_verifications                            95455 non-null  object
 14  host_has_profile_pic                          95455 non-null  object
 15  host_identity_verified                        95455 non-null  object
 16  neighbourhood                                 48179 non-null  object
 17  neighbourhood_cleansed                        95461 non-null  object
 18  latitude                                      95461 non-null  float64
 19  longitude                                     95461 non-null  float64
 20  property_type                                 95461 non-null  object
 21  room_type                                     95461 non-null  object
 22  accommodates                                  95461 non-null  int64
 23  bathrooms                                     64222 non-null  float64
 24  bathrooms_text                                95371 non-null  object
 25  bedrooms                                      88056 non-null  float64
 26  beds                                          64101 non-null  float64
 27  amenities                                     95461 non-null  object
 28  price                                         64230 non-null  object
 29  minimum_nights                                95461 non-null  int64
 30  maximum_nights                                95461 non-null  int64
 31  minimum_minimum_nights                        95461 non-null  int64
 32  maximum_minimum_nights                        95461 non-null  int64
 33  minimum_maximum_nights                        95461 non-null  int64
 34  maximum_maximum_nights                        95461 non-null  int64
 35  minimum_nights_avg_ntm                        95461 non-null  float64
 36  maximum_nights_avg_ntm                        95461 non-null  float64
 37  has_availability                              90592 non-null  object
 38  availability_30                               95461 non-null  int64
 39  availability_60                               95461 non-null  int64
 40  availability_90                               95461 non-null  int64
 41  availability_365                              95461 non-null  int64
 42  number_of_reviews                             95461 non-null  int64
 43  number_of_reviews_ltm                         95461 non-null  int64
 44  number_of_reviews_l30d                        95461 non-null  int64
 45  first_review                                  68319 non-null  object
 46  last_review                                   68319 non-null  object
 47  review_scores_rating                          68319 non-null  float64
 48  review_scores_accuracy                        68307 non-null  float64
 49  review_scores_cleanliness                     68310 non-null  float64
 50  review_scores_checkin                         68300 non-null  float64
 51  review_scores_communication                   68309 non-null  float64
 52  review_scores_location                        68301 non-null  float64
 53  review_scores_value                           68299 non-null  float64
 54  instant_bookable                              95461 non-null  object
 55  calculated_host_listings_count                95461 non-null  int64
 56  calculated_host_listings_count_entire_homes   95461 non-null  int64
 57  calculated_host_listings_count_private_rooms  95461 non-null  int64
 58  calculated_host_listings_count_shared_rooms   95461 non-null  int64
 59  reviews_per_month                             68319 non-null  float64
 60  city_id                                       95461 non-null  int64
dtypes: float64(17), int64(21), object(23)
memory usage: 44.4+ MB

# Specifically looking into column like - price, minimum nights , maximum nights, no of reviews and review score rating

In [53]:
print(list_paris_df['price'].info())

<class 'pandas.core.series.Series'>
RangeIndex: 95461 entries, 0 to 95460
Series name: price
Non-Null Count  Dtype
--------------  -----
64230 non-null  object
dtypes: object(1)
memory usage: 745.9+ KB
None

In [54]:
print(list_paris_df['minimum_nights'].info())
print(list_paris_df['maximum_nights'].info())

<class 'pandas.core.series.Series'>
RangeIndex: 95461 entries, 0 to 95460
Series name: minimum_nights
Non-Null Count  Dtype
--------------  -----
95461 non-null  int64
dtypes: int64(1)
memory usage: 745.9 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 95461 entries, 0 to 95460
Series name: maximum_nights
Non-Null Count  Dtype
--------------  -----
95461 non-null  int64
dtypes: int64(1)
memory usage: 745.9 KB
None

In [55]:
print(list_paris_df['review_scores_rating'].info())
print(list_paris_df['number_of_reviews'].info())

<class 'pandas.core.series.Series'>
RangeIndex: 95461 entries, 0 to 95460
Series name: review_scores_rating
Non-Null Count  Dtype
--------------  -----
68319 non-null  float64
dtypes: float64(1)
memory usage: 745.9 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 95461 entries, 0 to 95460
Series name: number_of_reviews
Non-Null Count  Dtype
--------------  -----
95461 non-null  int64
dtypes: int64(1)
memory usage: 745.9 KB
None

In [56]:
print(list_paris_df['maximum_nights'].head())

0     30
1    730
2    130
3    365
4    120
Name: maximum_nights, dtype: int64

In [57]:
print(list_paris_df['maximum_nights'].describe())

count    9.546100e+04
mean     2.308854e+04
std      6.950587e+06
min      1.000000e+00
25%      4.500000e+01
50%      3.650000e+02
75%      1.125000e+03
max      2.147484e+09
Name: maximum_nights, dtype: float64

# Removing the records where price and review score rating is equal to null and storing in a separate dataframe

In [58]:
list_paris_price_df = list_paris_df.dropna(subset=['price'])
list_paris_review_scores_rating_df = list_paris_df.dropna(subset=['review_scores_rating'])

# Printing the structure of all the dataframe

In [60]:
print(list_paris_df.shape)
print(list_paris_price_df.shape)
print(list_paris_review_scores_rating_df.shape)

(95461, 61)
(64230, 61)
(68319, 61)

# Analzying the review dataframe

In [61]:
print(reviews_paris_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1999650 entries, 0 to 1999649
Data columns (total 5 columns):
 #   Column      Dtype
---  ------      -----
 0   listing_id  int64
 1   id          int64
 2   date        object
 3   comments    object
 4   city_id     int64
dtypes: int64(3), object(2)
memory usage: 76.3+ MB
None

# Removing the dollar sign, comma and converting the price column to float datatype in order to perform numerical analysis

In [62]:
list_paris_df['price'] = list_paris_df['price'].astype(str).replace({'\$':''}, regex=True).replace({',':''}, regex=True).astype(float)
list_paris_price_df['price'] = list_paris_price_df['price'].astype(str).replace({'\$':''}, regex=True).replace({',':''}, regex=True).astype(float)
list_paris_review_scores_rating_df['price'] = list_paris_review_scores_rating_df['price'].astype(str).replace({'\$':''}, regex=True).replace({',':''}, regex=True).astype(float)

print(list_paris_df['price'].head())
print(list_paris_price_df['price'].head())
print(list_paris_review_scores_rating_df['price'].head())

0    113.0
1     95.0
2    145.0
3      NaN
4    450.0
Name: price, dtype: float64
0    113.0
1     95.0
2    145.0
4    450.0
8     75.0
Name: price, dtype: float64
0    113.0
1     95.0
2    145.0
3      NaN
5      NaN
Name: price, dtype: float64

/var/folders/43/6fvj434j2qjfvdnjgd1n535r0000gn/T/ipykernel_30983/421007768.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  list_paris_price_df['price'] = list_paris_price_df['price'].astype(str).replace({'\$':''}, regex=True).replace({',':''}, regex=True).astype(float)
/var/folders/43/6fvj434j2qjfvdnjgd1n535r0000gn/T/ipykernel_30983/421007768.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  list_paris_review_scores_rating_df['price'] = list_paris_review_scores_rating_df['price'].astype(str).replace({'\$':''}, regex=True).replace({',':''}, regex=True).astype(float)

# Data Pre-processing for reviews

# Converting the comments to lower case

In [70]:
reviews_paris_df['comments'] = reviews_paris_df['comments'].apply(lambda x: str(x).lower())
print(reviews_paris_df['comments'].head())

0              tout s'est bien déroulé. merci bien. pg
1    un petit nid fouiller douillet situé dans  app...
2    appartement spacieux, propre,clair, et calme à...
3    appartement totalement rénové, en parfait état...
4    perfect location!! nasrine was a delight and m...
Name: comments, dtype: object

# Removing special characters from comments

In [71]:
import re
 
reviews_paris_df['comments'] = reviews_paris_df['comments'].apply(lambda x: re.sub(r'[!@#$%^&*()_+=\-~`;:\'",.<>/?|\\]', '', x))
print(reviews_paris_df['comments'].head())

0                 tout sest bien déroulé merci bien pg
1    un petit nid fouiller douillet situé dans  app...
2    appartement spacieux propreclair et calme à pr...
3    appartement totalement rénové en parfait état ...
4    perfect location nasrine was a delight and mad...
Name: comments, dtype: object

# Standardizing the text in the comments section

In [72]:
reviews_paris_df['comments'] = reviews_paris_df['comments'].apply(lambda x: re.sub(r'(\d{1,2})/(\d{1,2})/(\d{4})', r'\2-\1-\3', x))
reviews_paris_df['comments'].head()

0                 tout sest bien déroulé merci bien pg
1    un petit nid fouiller douillet situé dans  app...
2    appartement spacieux propreclair et calme à pr...
3    appartement totalement rénové en parfait état ...
4    perfect location nasrine was a delight and mad...
Name: comments, dtype: object

# Removing numerial characters from comments

In [73]:
reviews_paris_df['comments'] = reviews_paris_df['comments'].str.replace('\d+', '', regex=True)
reviews_paris_df['comments'].head()

0                 tout sest bien déroulé merci bien pg
1    un petit nid fouiller douillet situé dans  app...
2    appartement spacieux propreclair et calme à pr...
3    appartement totalement rénové en parfait état ...
4    perfect location nasrine was a delight and mad...
Name: comments, dtype: object

# Storing the pre-processed data into a .csv file

In [74]:
import pandas as pd

list_paris_df.to_csv('/Users/shashwathkumar/Jupiitor notebook/assignment_1/dataset/pre_processed_listing_dataset/processed_listing_paris.csv')
list_paris_price_df.to_csv('/Users/shashwathkumar/Jupiitor notebook/assignment_1/dataset/pre_processed_listing_dataset/processed_listing_paris_price.csv')
list_paris_review_scores_rating_df.to_csv('/Users/shashwathkumar/Jupiitor notebook/assignment_1/dataset/pre_processed_listing_dataset/processed_listing_paris_reviewscore.csv')
reviews_paris_df.to_csv('/Users/shashwathkumar/Jupiitor notebook/assignment_1/dataset/pre_processed_review_dataset/processed_review_paris.csv')