In [4]:
import pandas as pd

city_details = pd.DataFrame({
    'city': ['paris','new york','sydney','bangkok','Rio De Janerio('],
    'id': [1,2,3,4,5]
})

print(city_details)

              city  id
0            paris   1
1         new youk   2
2           sydney   3
3          bangkok   4
4  Rio De Janerio(   5

In [16]:
import pandas as pd

list_paris_df = pd.read_csv('/Users/shashwathkumar/Jupiitor notebook/assignment_1/dataset/listing/listing_paris.csv')
print(list_paris_df.head())

       id                          listing_url       scrape_id last_scraped  \
0    3109    https://www.airbnb.com/rooms/3109  20240906025355   2024-09-11
1    5396    https://www.airbnb.com/rooms/5396  20240906025355   2024-09-13
2    7397    https://www.airbnb.com/rooms/7397  20240906025355   2024-09-06
3    7964    https://www.airbnb.com/rooms/7964  20240906025355   2024-09-10
4  241715  https://www.airbnb.com/rooms/241715  20240906025355   2024-09-11

            source                                               name  \
0      city scrape                                       zen and calm
1      city scrape       Your perfect Paris studio on ÃŽle Saint-Louis
2      city scrape                   MARAIS - 2ROOMS APT - 2/4 PEOPLE
3  previous scrape                       Sunny apartment with balcony
4      city scrape  Big Cosy Appartement with 100 m2 Terrace in Paris

                                         description  \
0  Lovely Appartment with one bedroom with a Quee...
1  NEW SOFA-BED SINCE JUNE 2023, Please disregard...
2          VERY CONVENIENT, WITH THE BEST LOCATION !
3  We are renting our a spacious, sunny fully fur...
4  Come to stay in our unique Parisian flat to en...

                               neighborhood_overview  \
0  Good restaurants<br />very close the Montparna...
1  You are within walking distance to the Louvre,...
2                                                NaN
3                                                NaN
4  The 19th arrondissement of Paris, located in t...

                                         picture_url  host_id  ...  \
0  https://a0.muscache.com/pictures/miso/Hosting-...     3631  ...
1  https://a0.muscache.com/pictures/52413/f9bf76f...     7903  ...
2  https://a0.muscache.com/pictures/67928287/330b...     2626  ...
3  https://a0.muscache.com/pictures/miso/Hosting-...    22155  ...
4  https://a0.muscache.com/pictures/miso/Hosting-...  3342097  ...

  review_scores_communication review_scores_location review_scores_value  \
0                        5.00                   5.00                5.00
1                        4.84                   4.96                4.59
2                        4.89                   4.93                4.74
3                        5.00                   5.00                5.00
4                         NaN                    NaN                 NaN

         license instant_bookable calculated_host_listings_count  \
0  7511409139079                t                              1
1  7510402838018                f                              1
2  7510400829623                f                              1
3  7510903576564                f                              1
4  7511913070313                f                              1

  calculated_host_listings_count_entire_homes  \
0                                           1
1                                           1
2                                           1
3                                           1
4                                           1

  calculated_host_listings_count_private_rooms  \
0                                            0
1                                            0
2                                            0
3                                            0
4                                            0

  calculated_host_listings_count_shared_rooms reviews_per_month
0                                           0              0.05
1                                           0              2.23
2                                           0              2.20
3                                           0              0.03
4                                           0               NaN

[5 rows x 75 columns]

In [15]:
print(list_paris_df.shape)

(95461, 60)

In [14]:
print(list_paris_df.columns)

Index(['id', 'name', 'description', 'neighborhood_overview', 'host_id',
       'host_name', 'host_since', 'host_location', 'host_about',
       'host_is_superhost', 'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'latitude', 'longitude', 'property_type',
       'room_type', 'accommodates', 'bathrooms', 'bathrooms_text', 'bedrooms',
       'beds', 'amenities', 'price', 'minimum_nights', 'maximum_nights',
       'minimum_minimum_nights', 'maximum_minimum_nights',
       'minimum_maximum_nights', 'maximum_maximum_nights',
       'minimum_nights_avg_ntm', 'maximum_nights_avg_ntm', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'number_of_reviews', 'number_of_reviews_ltm',
       'number_of_reviews_l30d', 'first_review', 'last_review',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [18]:
list_paris_df = list_paris_df.drop(columns=['listing_url','scrape_id','last_scraped','source','picture_url','host_url','host_response_time',
                                                          'host_response_rate','host_acceptance_rate','host_thumbnail_url','host_picture_url','neighbourhood_group_cleansed',
                                                          'calendar_updated','license','calendar_last_scraped'])

print(list_paris_df.shape)

(95461, 60)

In [19]:
paris_id = city_details.loc[city_details['city'] == 'paris']['id'].values[0]

list_paris_df['city_id'] = paris_id

print(list_paris_df.shape)

(95461, 61)

In [22]:
print(list_paris_df)

0        1
1        1
2        1
3        1
4        1
        ..
95456    1
95457    1
95458    1
95459    1
95460    1
Name: city_id, Length: 95461, dtype: int64

In [45]:
import pandas as pd

reviews_paris_df = pd.read_csv('/Users/shashwathkumar/Jupiitor notebook/assignment_1/dataset/reviews/reviews_paris.csv')
print(reviews_paris_df.head())

   listing_id         id        date  reviewer_id reviewer_name  \
0        3109  207127433  2017-10-28     51636494      Patricia
1        3109  208779822  2017-11-03      4142888      Patricia
2        3109  295840159  2018-07-24      7415343       Laurent
3        3109  553502638  2019-10-24     21159216     Anastasia
4        5396       4824  2009-06-30        19995         Sarah

                                            comments
0            Tout s'est bien dÃ©roulÃ©. Merci bien. PG
1  Un petit nid fouiller douillet situÃ© dans  app...
2  Appartement spacieux, propre,clair, et calme Ã ...
3  Appartement totalement rÃ©novÃ©, en parfait Ã©tat...
4  Perfect location!! Nasrine was a delight and m...

In [46]:
print(reviews_paris_df.shape)

(1999650, 6)

In [27]:
reviews_paris_df = reviews_paris_df.drop(columns=['reviewer_id','reviewer_name'])
reviews_paris_df['city_id'] = paris_id

print(reviews_paris_df.shape)

(1999650, 5)

In [29]:
print(list_paris_df.shape)
print(reviews_paris_df.shape)

(95461, 61)
(1999650, 5)

In [52]:
list_paris_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 46054 entries, 0 to 95456
Data columns (total 61 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            46054 non-null  int64
 1   name                                          46054 non-null  object
 2   description                                   44860 non-null  object
 3   neighborhood_overview                         26419 non-null  object
 4   host_id                                       46054 non-null  int64
 5   host_name                                     46054 non-null  object
 6   host_since                                    46054 non-null  object
 7   host_location                                 36226 non-null  object
 8   host_about                                    21360 non-null  object
 9   host_is_superhost                             44537 non-null  object
 10  host_neighbourhood                            15427 non-null  object
 11  host_listings_count                           46054 non-null  float64
 12  host_total_listings_count                     46054 non-null  float64
 13  host_verifications                            46054 non-null  object
 14  host_has_profile_pic                          46054 non-null  object
 15  host_identity_verified                        46054 non-null  object
 16  neighbourhood                                 26419 non-null  object
 17  neighbourhood_cleansed                        46054 non-null  object
 18  latitude                                      46054 non-null  float64
 19  longitude                                     46054 non-null  float64
 20  property_type                                 46054 non-null  object
 21  room_type                                     46054 non-null  object
 22  accommodates                                  46054 non-null  int64
 23  bathrooms                                     46045 non-null  float64
 24  bathrooms_text                                46005 non-null  object
 25  bedrooms                                      45995 non-null  float64
 26  beds                                          45984 non-null  float64
 27  amenities                                     46054 non-null  object
 28  price                                         46054 non-null  float64
 29  minimum_nights                                46054 non-null  int64
 30  maximum_nights                                46054 non-null  int64
 31  minimum_minimum_nights                        46054 non-null  int64
 32  maximum_minimum_nights                        46054 non-null  int64
 33  minimum_maximum_nights                        46054 non-null  int64
 34  maximum_maximum_nights                        46054 non-null  int64
 35  minimum_nights_avg_ntm                        46054 non-null  float64
 36  maximum_nights_avg_ntm                        46054 non-null  float64
 37  has_availability                              46037 non-null  object
 38  availability_30                               46054 non-null  int64
 39  availability_60                               46054 non-null  int64
 40  availability_90                               46054 non-null  int64
 41  availability_365                              46054 non-null  int64
 42  number_of_reviews                             46054 non-null  int64
 43  number_of_reviews_ltm                         46054 non-null  int64
 44  number_of_reviews_l30d                        46054 non-null  int64
 45  first_review                                  46054 non-null  object
 46  last_review                                   46054 non-null  object
 47  review_scores_rating                          46054 non-null  float64
 48  review_scores_accuracy                        46052 non-null  float64
 49  review_scores_cleanliness                     46053 non-null  float64
 50  review_scores_checkin                         46050 non-null  float64
 51  review_scores_communication                   46053 non-null  float64
 52  review_scores_location                        46051 non-null  float64
 53  review_scores_value                           46050 non-null  float64
 54  instant_bookable                              46054 non-null  object
 55  calculated_host_listings_count                46054 non-null  int64
 56  calculated_host_listings_count_entire_homes   46054 non-null  int64
 57  calculated_host_listings_count_private_rooms  46054 non-null  int64
 58  calculated_host_listings_count_shared_rooms   46054 non-null  int64
 59  reviews_per_month                             46054 non-null  float64
 60  city_id                                       46054 non-null  int64
dtypes: float64(18), int64(21), object(22)
memory usage: 21.8+ MB

In [32]:
print(list_paris_df['price'].info())

<class 'pandas.core.series.Series'>
RangeIndex: 95461 entries, 0 to 95460
Series name: price
Non-Null Count  Dtype
--------------  -----
64230 non-null  object
dtypes: object(1)
memory usage: 745.9+ KB
None

In [34]:
print(list_paris_df['minimum_nights'].info())
print(list_paris_df['maximum_nights'].info())

<class 'pandas.core.series.Series'>
RangeIndex: 95461 entries, 0 to 95460
Series name: minimum_nights
Non-Null Count  Dtype
--------------  -----
95461 non-null  int64
dtypes: int64(1)
memory usage: 745.9 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 95461 entries, 0 to 95460
Series name: maximum_nights
Non-Null Count  Dtype
--------------  -----
95461 non-null  int64
dtypes: int64(1)
memory usage: 745.9 KB
None

In [35]:
print(list_paris_df['review_scores_rating'].info())
print(list_paris_df['number_of_reviews'].info())

<class 'pandas.core.series.Series'>
RangeIndex: 95461 entries, 0 to 95460
Series name: review_scores_rating
Non-Null Count  Dtype
--------------  -----
68319 non-null  float64
dtypes: float64(1)
memory usage: 745.9 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 95461 entries, 0 to 95460
Series name: number_of_reviews
Non-Null Count  Dtype
--------------  -----
95461 non-null  int64
dtypes: int64(1)
memory usage: 745.9 KB
None

In [38]:
list_paris_df = list_paris_df.dropna(subset=['price'])
list_paris_df = list_paris_df.dropna(subset=['review_scores_rating'])

In [39]:
print(list_paris_df.shape)

(46054, 61)

In [43]:
print(reviews_paris_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1999650 entries, 0 to 1999649
Data columns (total 5 columns):
 #   Column      Dtype
---  ------      -----
 0   listing_id  int64
 1   id          int64
 2   date        object
 3   comments    object
 4   city_id     int64
dtypes: int64(3), object(2)
memory usage: 76.3+ MB
None

In [49]:
list_paris_df['price'] = list_paris_df['price'].astype(str).replace({'\$':''}, regex=True).replace({',':''}, regex=True).astype(float)

print(list_paris_df['price'].head())

0     113.0
1      95.0
2     145.0
9     246.0
10     80.0
Name: price, dtype: float64

In [51]:
import pandas as pd

list_paris_df.to_csv('/Users/shashwathkumar/Jupiitor notebook/assignment_1/dataset/pre_processed_listing_dataset/processed_listing_paris.csv')
reviews_paris_df.to_csv('/Users/shashwathkumar/Jupiitor notebook/assignment_1/dataset/pre_processed_review_dataset/processed_review_paris.csv')